---
title: CalArts Digital Arts Expo 2016 Website
date: 2016-05-11 13:44 PDT
tags: programming web
---

= tag :img, :src => "/assets/images/dae-2016.png", :class => "static-img"

%p
  I also leaded development on the website for CalArts' Digital Arts Expo for 2016. This was also created in Wordpress. Check it out 
  %a{:href => "http://expo16.calartsmusictech.com", :target => "_blank"}here.