---
title: censored
date: 2016-05-11 14:46 PDT
tags: programming web data
---

.full-width
  %iframe.youtube{:allowfullscreen => "", :frameborder => "0", :height => "480", :src => "https://www.youtube-nocookie.com/embed/UGsyOfj2iNM?rel=0&controls=0&showinfo=0", :width => "640"}
  %p
    Censored is an interactive website that visualizes statistics on sexual assault and rape cases in India. The data is taken from the Open Government Data Platform of India, which is used by the Government of India to publish their datasets for public use. Although this is a step in the right direction, these numbers are only reported cases till the year 2013. Most cases aren't reported. Many cases are buried under bureaucracy and corruption. In Maharashtra alone, the number of reported cases has
    %b
      %i more than doubled
    in just 4 years. Today’s numbers are unknown, but we can only imagine what they are.
  %p
    The though the animations in this video are slowed down due to the screen recording. The website is still under active development and intend on bring more features and data available to the public. Source code can be found 
    %a{:href => "https://github.com/ashwinv11/censored", :target => "_blank"}here.
  %p
    I also wrote an extensive paper that talks about the background behind the project and the implementation. Check that out 
    %a{:href => "assets/censored.pdf", :target => "_blank"}here.