---
title: CalArts Digital Arts Expo 2016 Website
date: 2016-05-11 13:44 PDT
tags: programming web
featured_img: "/assets/images/expo16-featured.png"
featured_img_alt: "Screenshot of CalArts Digital Arts Expo Website 2016"
---

= tag :img, src: current_article.data.featured_img, alt: current_article.data.featured_img_alt, class: "static-img"

%p=t("project.dae16.about", href: link_to(t("common.here"), "http://expo16.calartsmusictech.com", target: "_blank"))
