---
title: CalArts Digital Arts Expo 2015 Website
date: 2015-07-13 13:21 PDT
tags: programming web
featured_img: "/assets/images/expo15-featured.png"
---

= tag :img, src: "/assets/images/expo15-featured.png", class: "static-img"

%p=t("project.dae15.about", href: link_to(t("common.here"), "http://expo15.calartsmusictech.com", target: "_blank"))
