---
title: CalArts Digital Arts Expo 2015 Website
date: 2015-07-13 13:21 PDT
tags: programming web
---

= tag :img, src: "/assets/images/dae-2015.png", class: "static-img"

%p=t("project.dae15.about", href: link_to(t("common.here"), "http://expo15.calartsmusictech.com", target: "_blank"))
