---
title: CalArts Digital Arts Expo 2017 Website
date: 2017-05-22 21:09 PST
tags: programming web
featured_img: "/assets/images/expo17-featured.png"
featured_img_alt: "Screenshot of CalArts Digital Arts Expo Website 2017"
---

= tag :img, src: current_article.data.featured_img, alt: current_article.data.featured_img_alt, class: "static-img"

%p=t("project.dae17.about", href: link_to(t("common.here"), "http://digitalartsexpo.calarts.edu", target: "_blank"))

