---
title: censored
date: 2016-05-11 14:46 PDT
tags: programming web data
---

%iframe.youtube{allowfullscreen: "", frameborder: "0", height: "480", src: "https://www.youtube-nocookie.com/embed/UGsyOfj2iNM?rel=0&controls=0&showinfo=0", width: "640"}
%p=t("project.censored.intro")
%p=t("project.censored.repo", href: link_to(t("common.here"), "https://github.com/ashwinv11/censored", target: "_blank"))
%p=t("project.censored.paper", href: link_to(t("common.here"), "assets/censored.pdf", target: "_blank"))
