---
title: Digital Reflections
date: 2016-05-11 15:08 PDT
tags: programming creative
featured_img: "/assets/images/digital-reflections-featured.jpg"
featured_img_alt: "Viewer looking into a double sided mirror, behind one side is a screen with a digital representation of one's self"
---

= tag :img, src: "/assets/images/digital-reflections-featured.jpg", alt: current_article.data.featured_img_alt, class: "static-img"
%p=t("project.digital_reflections.about")
