---
title: Digital Reflections
date: 2016-05-11 15:08 PDT
tags: programming creative
featured_img: "/assets/images/digital-reflections-dae.jpg"
---

= tag :img, src: "/assets/images/digital-reflections-dae.jpg", class: "static-img"
%p=t("project.digital_reflections.about")
