$clr_footer_bg: $clr_gray;

footer {
  @include elevation(1);
  display: grid;
  text-align: center;
  padding: 2em;
  background-color: $clr_footer_bg;

  a {
    box-shadow: none;
    &:hover, &:focus, &:active {
      color: $clr_off_white;
      box-shadow: none;
    }
  }

  i {
    text-shadow: 0.2rem 0.4rem $clr_dark_gray;
  }
}
