$clr_nav_bg: $clr_dark_gray;

nav {
  @include elevation(2);
  padding: 1rem 0;
  background-color: $clr_nav_bg;

  ul {
    display: grid;
    list-style: none;
    padding: 0;
  }

  ul li {
    grid-row: 1;
    text-align: center;
  }

  ul a {
    &:before {
      background: $clr_accent;
    }

    &:hover, &:focus, &:active {
      color: $clr_white;
    }
  }

  ul span {
    font-size: 2rem;
  }
}
