$clr_nav_bg: $clr_dark_gray;

nav {
  @include elevation(2);
  padding: 1rem 0;
  background-color: $clr_nav_bg;

  ul {
    display: grid;
    list-style: none;
    padding: 0;
  }

  ul li {
    grid-row: 1;
    text-align: center;
  }

  ul a {
    text-decoration: none;
    box-shadow:
      inset 0 -0.075rem $clr_accent,
      inset 0 -0.4rem $clr_accent,
      inset 0 -0.15rem $clr_accent,
      inset 0 -0.175rem $clr_accent;

    &:hover, &:focus, &:active {
      color: $clr_white;
      box-shadow:
        inset 0 -0.075rem $clr_white,
        inset 0 -0.1rem $clr_white,
        inset 0 -0.15rem $clr_white,
        inset 0 -0.175rem $clr_white;
    }
  }

  ul span {
    font-size: 2rem;
  }
}
