footer {
  @include span-columns(12);
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  background: $light-gray;
  text-align: center;

  social{
    a {
      color: $dark-gray;
    }
  }
  p {
    font-size: 12px;
    padding-top: 1em;
  }
}