body {
  margin: 0px 0px 0px 0px;
  background: $base-background-color;
}

#main {
  @include outer-container;
}

#main-wrapper {
  padding: 1em;
  @media #{$grid-sm-plus}{
    padding: 2em;
  }
}

.row {
  @include span-columns(12);
}