/*
  Projects Page Styles
*/

@import 'global';

.projects_index main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  grid-gap: 2rem;
}

.project-card__container {
  max-width: 88vw;
  box-shadow: none;

  &:hover, &:active, &:focus {
    .project-card {
      @include elevation(2);
    }
  }
}

.project-card {
  @include elevation(1);
  @include transition(0.2s);
  border-radius: 2px;
  height: 100%;
}

.project-card__info {
  padding: 0 1rem 1rem;
}

.project__card-img {
  border-radius: 2px 2px 0px 0px;
  max-width: 100%;
}

