/*
  Projects Page Styles
*/

@import 'global';

.projects_index main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  grid-gap: 2rem;
}

.project-card__container {
  text-decoration: none;

  &:hover, &:active, &:focus {
    .project-card {
      @include elevation(2);
    }
  }
}

.project-card {
  @include elevation(1);
  @include transition(0.3s);
  height: 100%;
}

.project-card__info {
  padding: 0 1rem 1rem;
}

.static-img {
  max-width: 100%;
}
