/*
  Projects Page Styles
*/

.projects_index main {
  display: grid;
  grid: auto-flow 42rem / repeat(2, 42rem);
  grid-gap: 2rem;
}

.projects {
  text-align: center;
}

.static-img {
  max-width: 100%;
}
