@charset "utf-8";

@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";
@import "partials/layout";
@import "partials/nav";
@import "partials/footer";

// Selected Page Top Nav
nav ul li:nth-child(1) span a {
  color: $light-gray;
}

.intro {
  @include span-columns(12);
  padding: 20px 20px;
}

#p5 { 
  @include span-columns(4);
  @include media($laptop) {
    @include span-columns(2);
  }
}

.about-text { 
  @include span-columns(8);
  padding: 45px; 
  @include media($laptop) {
    @include span-columns(2);
  }
}