@charset "utf-8";

@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";
@import "partials/layout";
@import "partials/nav";
@import "partials/footer";

nav ul li:nth-child(3) span a {
  color: $light-gray;
}

.full-width{
  width: 100%;
}

.youtube{
  margin: 0 auto 40px;
  display: block;
}

.static-img {
  height: auto;
  margin: 0 auto 40px;
  display: block;
}

@media (max-width: 1024px){
  .static-img{
    height: 400px;
  }
}

@media (max-width: 668px) {
  .youtube{
    width: auto;
    height: 200px;
  }

  .static-img{
    height: 300px;
  }
}

@media (max-width: 480px){
  .static-img{
    height: 200px;
  }
}

.flex-boxes {
  @include clearfix;
  @include span-columns(12);
  align-items: center;
  clear: both;
  display: flex;
  flex-wrap: wrap;

  .flex-box {
    align-self: stretch;
    display: block;
    //flex: 2 2 18em;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    margin: 40px 20px 0px 20px;

    h2{
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 2em;

      span{
        display: block;
        text-transform: lowercase;
        padding-top: 10px;
      }
    }

    p{
      a{
        text-decoration: underline;
      }
    }

  }
}