/*
  Typography based styles
*/

@import '../fonts/fontello';
@import '../fonts/raleway';
@import '../fonts/open-sans';

h1, h2, h3, h4 {
  font-family: 'Raleway';
  font-weight: 300;
  color: $clr_dark_gray;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-family: 'Open Sans';
  font-size: 1.5rem;
}

span, li, time {
  font-family: 'Open Sans';
  font-size: 1rem;
}

i {
  font-size: 2rem;
}

a {
  @include transition(0.2s);
  position: relative;
  text-decoration: none;
  color: $clr_accent;

  &:before {
    @include transition(0.2s);
    background: $clr_accent;
    opacity: 0.2;
    content: "";
    display: block;
    height: .33em;
    position: absolute;
    bottom: 0;
    left: -.5rem;
    right: -.5rem;
  }

  &:hover, &:focus, &:active {
    color: $clr_black;

    &:before {
      opacity: 0.6;
      height: .22em;
    }
  }
}
