%footer
  .footer-content
    %social
      %a{:href => "https://github.com/ashwinv11", :target => "_blank"}
        %i.fa.fa-github.fa-lg{"aria-hidden" => "true"}
      %a{:href => "https://www.linkedin.com/pub/ashwin-vaswani/82/328/410", :target => "_blank"}
        %i.fa.fa-linkedin.fa-lg{"aria-hidden" => "true"}
      %a{:href => "https://soundcloud.com/aries-official-music/", :target => "_blank"}
        %i.fa.fa-soundcloud.fa-lg{"aria-hidden" => "true"}
      %a{:href => "https://www.facebook.com/ariesofficialmusic", :target => "_blank"}
        %i.fa.fa-facebook.fa-lg{"aria-hidden" => "true"}
      %a{:href => "https://instagram.com/ariesofficial11", :target => "_blank"}
        %i.fa.fa-instagram.fa-lg{"aria-hidden" => "true"}
    %p Copyright 2016 Ashwin Vaswani