<footer>
  <div class="footer-content">
  <social>
      <a href="https://github.com/ashwinv11" target="_blank">
        <i class="fa fa-github fa-lg" aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com/pub/ashwin-vaswani/82/328/410" target="_blank">
        <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
      </a>
      <a href="https://soundcloud.com/aries-official-music/" target="_blank">
        <i class="fa fa-soundcloud fa-lg" aria-hidden="true"></i>
      </a>
      <a href="https://www.facebook.com/ariesofficialmusic" target="_blank">
        <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
      </a>
      <a href="https://instagram.com/ariesofficial11" target="_blank">
        <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
      </a>
    </social>
    <p>Copyright 2016 Ashwin Vaswani</p>
  </div>
</footer>