<nav id="nav-container">
  <ul>
    <li>
      <span><%= link_to "home", "index.html"%></span>
    </li>
    <li>
      <span><%= link_to "resume", "assets/Vaswani_Ashwin_Technical_Resume.pdf"%></span>
    </li>
    <li>
      <span><%= link_to "projects", "projects.html"%></span>
    </li>
    <li>
      <span><%= link_to "contact", "contact.html"%></span>
    </li>
  </ul>
</nav>