<div id="nav-container">
  <nav>
    <ul>
      <li>
        <span><%= link_to "HOME", "index.html"%></span>
      </li>
      <li>
        <span><%= link_to "RESUME", "assets/ashwin-resume.pdf"%></span>
      </li>
      <li>
        <span><%= link_to "PROJECTS", "projects.html"%></span>
      </li>
      <li>
        <span><%= link_to "CONTACT", "contact.html"%></span>
      </li>
    </ul>
  </nav>
</div>