%nav#nav-container
  %ul
    %li
      %span= link_to "home", "index.html"
    %li
      %span= link_to "resume", "assets/Vaswani_Ashwin_Technical_Resume.pdf"
    %li
      %span= link_to "projects", "projects.html"
    %li
      %span= link_to "contact", "contact.html"