---
title: Aries' Music
date: 2016-05-11 14:32 PDT
tags: music aries
---

.full-width
  %p Want to here all the collabs and songs I’ve done? Check out this Soundcloud playlist:
  %iframe{:align => "middle", :frameborder => "no", :height => "350", :scrolling => "no", :src => "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/43467142&color=d13737&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=true", :width => "100%"}
  %div