---
title: Digital Reflections
date: 2016-05-11 15:08 PDT
tags: programming creative
---

.full-width
  = tag :img, :src => "/assets/images/digital-reflections-dae.jpg", :class => "static-img"
  %p Digital Reflections is an interactive mixed reality piece. You see yourself in the mirror, but you also see a digital representation of yourself. This breaks down the dichotomy between the physical and digital world, creating another reality. Wave your hands and make some noise to see your reflection change.