---
title: Ashwin Vaswani // Home
layout: index
---

%section
  #bezier
  %div
    %h1=t("index.heading")
    %p=t("index.bio", job_title_1: t("index.job_title_1"), href_company_1: link_to(t("index.company_1"), "https://kadenze.com", target: "_blank"), job_title_2: t("index.job_title_2"), href_company_2: link_to(t("index.company_2"), "https://calarts.edu", target: "_blank"), href_metier: link_to(t("index.metier"), "http://mtiid.calarts.edu", target: "_blank"), href_repo: link_to(t("common.here"), "https://github.com/ashwinv11/website", target: "_blank"))

%article
  %h2=t("index.about")
  %p=t("index.artist_statement")
