// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: 'Fira Mono'; //$font-stack-system
$heading-font-family: 'Fira Sans'; //$base-font-family

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$dark-red: #D13737;
$dark-gray: #292929;
$medium-gray: #999;
$light-gray: #ddd;
$off-white: #F2F2F2;

$base-font-color: $dark-gray;
$action-color: $dark-red;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $off-white;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

/*

// Breakpoints
$four-k: new-breakpoint(max-width 2560px 4);
$laptop-l: new-breakpoint(max-width 1440px 4);
$laptop: new-breakpoint(max-width 1024px 4);
$tablet: new-breakpoint(max-width 768px 4);
$mobile-l: new-breakpoint(max-width 425px 4);
$mobile-m: new-breakpoint(max-width 375px 4);
$mobile-s: new-breakpoint(max-width 320px 4);

*/