%nav
  %ul
    %li
      = link_to t("nav.home"), "index"
    %li
      = link_to t("nav.resume"), "assets/Vaswani_Ashwin_Technical_Resume.pdf"
    %li
      = link_to t("nav.projects"), "projects"
    %li
      = link_to t("nav.contact"), "contact"
