%header
  %nav
    %ul
      %li
        = link_to "index" do
          %span=t("nav.home")
      %li
        = link_to "projects" do
          %span=t("nav.projects")
      %li
        = link_to "assets/Vaswani_Ashwin_Resume.pdf" do
          %span=t("nav.resume")
