%nav
  %ul
    %li
      = link_to t("nav.home"), "index.html"
    %li
      = link_to t("nav.resume"), "assets/Vaswani_Ashwin_Technical_Resume.pdf"
    %li
      = link_to t("nav.projects"), "projects.html"
    %li
      = link_to t("nav.contact"), "contact.html"
