---
title: Ashwin Vaswani - Home
layout: home
---

<div class="intro">
  <h1>Hi, I'm Ashwin!</h1>
  <p>A student at CalArts studying Music Technology & the Digital Arts. Feel free to explore my website for my work, music, projects, and other random things. Oh this website is open source, which you can find <a href="https://github.com/ashwinv11/website" target="_blank">here</a>.</p>
</div>
<div class="flex-boxes">
  <div id='p5' class="flex-box"></div>
  <div class="about-text flex-box">
    <h1>About</h1>
    <p>Ashwin Vaswani is a creative coder. His work focus on web art, web apps, & digital art. He produces art in the form of code, electronic music with voice, & photography. Interested in connecting ‘the internet of things’ to modern art forms, Ashwin tries to find the balance between user experience & artistic representation. Proficient in modern web languages such as Ruby, PHP, & JavaScript his goal is to become a web developer who can find the balance between art & reachability. He supports open source software, privacy, & net neutrality. Currently, he is interested in tasteful data visualization using the web.</p>
  </div>
</div>
