---
title: Ashwin Vaswani - Home
layout: home
---
<div class="intro">
  <h1>HI, I'M ASHWIN!</h1>
  <p>I’m Ashwin Vaswani, a student at CalArts studying Music Technology & the Digital Arts. Feel free to explore my website for my music, projects, and other random things.</p>
</div>
<div id='p5'></div>
<div class="about-text">
  <h1>ABOUT</h1>
  <p>Ashwin Vaswani is a creative technologist. His works focus on web art, web apps, & digital art. He produces art in the form of electronic music with voice, circuit bending & code, & photography. Interested in connecting ‘the internet of things’ to modern art forms, Ashwin tries to find the balance between user experience & artistic representation. Proficient in modern web languages such as Ruby, Javascript, & PHP, his goal is to become a web developer who can find the balance between art & reachability. He supports of open source software, privacy, & net neutrality. Currently, he is interested in data visualization using the web. </p>
</div>
