---
title: Ashwin Vaswani - Home
---

<div>
  <h1>Hi, I’m Ashwin!</h1>
  <p> Hello there! I’m Ashwin Vaswani, a student at CalArts studying Music Technology.
Feel free to explore my website for my music, projects, and other random things.</p>
</div>