---
title: Ashwin Vaswani - Projects
layout: projects
---

.flex-boxes
  - page_articles.each_with_index do |article, i|
    %article.flex-box
      %h2
        = link_to article.title, article
        %span= article.date.strftime('%b %e, %Y')
      = article.body